/* Import Fonts from Google Fonts 
        font-family: 'Monoton', cursive;
        font-family: 'Poppins', sans-serif;
        font-family: 'Press Start 2P', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@200;300&family=Press+Start+2P&display=swap');

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
  /*  font-family: 'Press Start 2P', cursive; */
    padding: 30px 0 0 30px;
    display: flex;
    justify-content: flex-start;
    text-shadow: 1px 1px black;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(30, 30, 30);
    background-image: url("../images/leon-bredella-W0xoY3dBRlM-unsplash.jpg");
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* Navigation bar styles */

nav {
    display: flex;
    justify-content: flex-start;
    background-color:rgba(0, 0, 0, .75);
    color: whitesmoke;
    /* background-image: url("../images/leon-bredella-W0xoY3dBRlM-unsplash.jpg"); */
    background-position: 80%;
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 50%; */
}

nav ul {
    margin: 10px 0 10px 20px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    flex-basis: 200px;
    padding: 15px 20px;
    opacity: 100%;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    opacity: 100%;
    padding: 10px;
}

nav ul li a:hover {
    color: black; 
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        background-color: "";
    }

    to {
        background-color: orangered;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.dropdown p {
    display:none;
}


/* Section styles */

section {
    padding: 40px;
    /* border: 2px white solid; */
    margin-left: 350px;
}

section h2 {
    background-color: orangered;
    color: whitesmoke;
    padding: 15px;
    display: inline-block;
    border-top-right-radius: 25px;
    text-shadow: 2px 2px 5px black;
}

/* Header Section Styles */
header {
    background-color: rgba(0, 0, 0, .75);
    color: whitesmoke;
    width: 100%;
}


/* Bio Section Styles */

.bio img {
    height: 250px;
    width: 250px;
    /* border-radius: 50%; */
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: 2px whitesmoke solid;
    position: absolute;
    left: 50px;
    top: 232px;
}

 .bio div {
    padding: 20px;
}  

.bio p {
    margin: 10px 0 10px 0;
}

.section-bg {
    background-color: rgba(255, 255, 255, .8);
    border-bottom-left-radius: 25px;
} 


/* Portfolio Section Styles */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    /* float: right; */
    padding-left: 40px;
    background-color: rgba(255, 255, 255, .8);
    border-bottom-left-radius: 25px;
}

.sample {
    background-color: black;
    border: 1px solid pink;
    color: wheat;
    width: 350px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
    border-bottom-left-radius: 25px;
}

.sample:first-child { 
    width: 1000px;
    line-height: 400px;
}

.sample:hover {
    opacity: 50%;
}



/* Contact section styles */

.contact {
    background-color: rgba(255, 255, 255, .8);
    border-bottom-left-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.contact img {
    height: 32px;
    width: 32px;
    margin: 5px 10px;
}

/* .skills ul {
    margin: 25px;
}

.skills ul li {
    display: inline;
    /* list-style-type: none; */
    /* flex-basis: 200px; */
    /* padding: 10px 15px;
    background-color: orangered;
    color: white;
}

.skills ul li:hover {
    background-color: black;
} */ 

.portfolio {
    align-items: center;
}

/* Footer Styles */

footer {
    background-color:rgba(0, 0, 0, .8);
    color: white;
    padding: 15px;
    text-align: right;
}

@media screen and (max-width: 700px) {
    .sample:first-child {
        width: 100%;
        line-height: 120px;
    }
    .sample {
        width: 100%;
    }
    .bio {
        display: flex;
        flex-direction: column;
    }

    .bio img {
        position: inherit;
        height: 150px;
        width: 150px;
    }

    section {
        margin: 2px;
    }
}

/* ------------------------------------------ */
/* Experimenting with drop-down menu configuration */

/* @media screen and (max-width: 468px) { */
    /* nav ul {
        display: none;
    } */

    /* .nav-toggle {
        display: flex;
        justify-content: flex-end;
    } */

    /* .nav-toggle p {
        display: inline-block;
    } */

    /* nav {
        background-color:rgb(30, 30, 30);
        background-image: url("");
    }
    .dropdown p {
        display: flex;
        justify-content: flex-end;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: orangered;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      } */
/* } */